https://www.kaggle.com/abhinavwalia95/entity-annotated-corpus

In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sb

ner.csv has a formatting issue:

```Error tokenizing data. C error: Expected 25 fields in line 281837, saw 34```

In [9]:
df_ner = pd.read_csv(os.path.join('..',
                                  'data',
                                  'raw',
                                  'ner.csv'),
                     sep=",",
                     encoding='Latin-1',
                     error_bad_lines=False
         )

df_ner_dataset = pd.read_csv(os.path.join('..',
                                          'data',
                                          'raw',
                                          'ner_dataset.csv'),
                             sep=",",
                             encoding='Latin-1'
                 )

b'Skipping line 281837: expected 25 fields, saw 34\n'

In [10]:
df_ner.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050795 entries, 0 to 1050794
Data columns (total 25 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Unnamed: 0       1050795 non-null  int64
 1   lemma            1050795 non-null  object
 2   next-lemma       1050795 non-null  object
 3   next-next-lemma  1050795 non-null  object
 4   next-next-pos    1050795 non-null  object
 5   next-next-shape  1050795 non-null  object
 6   next-next-word   1050795 non-null  object
 7   next-pos         1050795 non-null  object
 8   next-shape       1050794 non-null  object
 9   next-word        1050794 non-null  object
 10  pos              1050794 non-null  object
 11  prev-iob         1050794 non-null  object
 12  prev-lemma       1050794 non-null  object
 13  prev-pos         1050794 non-null  object
 14  prev-prev-iob    1050794 non-null  object
 15  prev-prev-lemma  1050794 non-null  object
 16  prev-prev-pos    1050794 non-null  object
 17  prev-prev-shape  1050794 non-null  object
 18  prev-prev-word   1050794 non-null  object
 19  prev-shape       1050794 non-null  object
 20  prev-word        1050794 non-null  object
 21  sentence_idx     1050794 non-null  float64
 22  shape            1050794 non-null  object
 23  word             1050794 non-null  object
 24  tag              1050794 non-null  object
dtypes: float64(1), int64(1), object(23)
memory usage: 200.4+ MB

In [11]:
df_ner_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Sentence #  47959 non-null    object
 1   Word        1048575 non-null  object
 2   POS         1048575 non-null  object
 3   Tag         1048575 non-null  object
dtypes: object(4)
memory usage: 32.0+ MB

In [12]:
df_ner.head()

,Unnamed: 0,lemma,next-lemma,next-next-lemma,next-next-pos,next-next-shape,next-next-word,next-pos,next-shape,next-word,...,prev-prev-lemma,prev-prev-pos,prev-prev-shape,prev-prev-word,prev-shape,prev-word,sentence_idx,shape,word,tag
0,0,thousand,of,demonstr,NNS,lowercase,demonstrators,IN,lowercase,of,...,__start2__,__START2__,wildcard,__START2__,wildcard,__START1__,1.0,capitalized,Thousands,O
1,1,of,demonstr,have,VBP,lowercase,have,NNS,lowercase,demonstrators,...,__start1__,__START1__,wildcard,__START1__,capitalized,Thousands,1.0,lowercase,of,O
2,2,demonstr,have,march,VBN,lowercase,marched,VBP,lowercase,have,...,thousand,NNS,capitalized,Thousands,lowercase,of,1.0,lowercase,demonstrators,O
3,3,have,march,through,IN,lowercase,through,VBN,lowercase,marched,...,of,IN,lowercase,of,lowercase,demonstrators,1.0,lowercase,have,O
4,4,march,through,london,NNP,capitalized,London,IN,lowercase,through,...,demonstr,NNS,lowercase,demonstrators,lowercase,have,1.0,lowercase,marched,O

In [13]:
df_ner_dataset.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O